
    div {

        background-color: rgb(24, 151, 24);
        opacity: 0.3;

    }

    div {
        border: 10px inset rgb(212, 7, 7);

    }

    h1 {
        text-shadow: 1px 1px 2.5px rgba(230, 69, 230, 0.692);
    }

    p {
        margin-top: 100px;
        margin-bottom: 100px;
        margin-right: 150px;
        margin-left: 80px;
    }

    h1 {
        text-decoration: overline;
    }

    .p1 {
        font-family: "fantasy", Times, red serif;
    }
    nav {
        position:fixed;
        background-color:blue; 
        margin:0;
        padding: 0;
        width:100%
    }